.keyboard {
    display: flex;
    flex-flow: column;
    gap: 8px;
    padding: 0 8px;
    width: 100%;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 100%;
}


.keyboard-key {
    font-weight: bold;
    border: 0;
    height: 58px;
    cursor: pointer;
    background-color: #8c8787;
    color: white;
    flex: 1;
    text-transform: uppercase;
}

.keyboard-key-wide {
    flex: 1.5;
    font-size: 12px;
}

.keyboard-key.correct {
    background-color: #658f26;
    border-color: #658f26;
}

.keyboard-key.absent {
    background-color: #585858;
    border-color: #585858;
}

.keyboard-key.present {
    background-color: #b8ad4d;
    border-color: #b8ad4d;
}