.keyboard {
    display: flex;
    flex-flow: column;
    gap: 8px;
    padding: 0 8px;
    width: 100%;
    margin: 0 auto;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 100%;
}


.keyboard-key {
    font-weight: bold;
    border: 0;
    height: 58px;
    cursor: pointer;
    background-color: #b8b8b8;
    color: white;
    flex: 1;
    text-transform: uppercase;
}

.keyboard-key-wide {}